<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">
    <select id="findAllSearch" resultType="Banner">
        SELECT id,title,url,href,create_date AS createDate,`desc`,status FROM banner
        <where>
            <if test="searchOper=='eq'">
                ${searchField} = #{searchString}
            </if>
            <if test="searchOper=='ne'">
                ${searchField} != #{searchString}
            </if>
            <if test="searchOper=='cn'">
                ${searchField} like concat('%',#{searchString},'%')
            </if>
        </where>
        limit #{start},#{rows}
    </select>
    <select id="findTotalCountsSearch" resultType="Integer">
        SELECT count(id) FROM banner
        <where>
            <if test="searchOper=='eq'">
                ${searchField} = #{searchString}
            </if>
            <if test="searchOper=='ne'">
                ${searchField} != #{searchString}
            </if>
            <if test="searchOper=='cn'">
                ${searchField} like concat('%',#{searchString},'%')
            </if>
        </where>
    </select>
</mapper>